作業目標:<br>
1. 運用編碼處理類別資料<br>
2. 補缺失值

作業重點: <br>
1. 類別編碼有多種方法，需分辨使用方法與時機<br>
2. 補缺失值須因應情境決定如何補值

題目 : 
將以下問卷資料的職業(Profession)欄位缺失值填入字串'others'，更進一步將字串做編碼。
此時用什麼方式做編碼比較適合?為什麼?

import pandas as pd <br>
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])

In [18]:
import pandas as pd
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [19]:
#缺失值填入字串'others'
q_df['Profession'].replace(None, 'others')

TypeError: 'regex' must be a string or a compiled regular expression or a list or dict of strings or regular expressions, you passed a 'bool'

In [23]:
sexf= pd.get_dummies(q_df[['Sex']])
sumf = pd.concat([q_df, sexf], axis=1)
sumf

      Sex Profession  Sex_female  Sex_male
0    male    teacher           0         1
1    male   engineer           0         1
2  female       None           1         0
3  female   engineer           1         0

In [ ]:
jobf= pd.get_dummies(q_df[['Profession']])
sumf = pd.concat([sf, jobf], axis=1)
sumf